body {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	background-color: rgb(240, 240, 240);
}
#calculator-container {
	border: 2px solid #4c4b63;
	border-radius: 10px;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	margin-top: 25%;
	display: block;
	padding: 1em;
	background-color: #c3c3c3;
}

ul,
li {
	display: inline;
	padding: 1em;
}

#display-container {
	display: inline;

	height: 200px;
}
#display-buttons {
	padding-top: 2em;
}

#value {
	font-size: 20px;
	font-weight: 750;
	padding: 1em;
	position: absolute;
	overflow: hidden;
	width: 200px;
	text-overflow: ellipsis;
	border-radius: 5px;
	color: #4c4b63;
}
button {
	margin-top: 1em;
	margin-right: 0.3em;
	border-radius: 5px;
	border: none;
	width: 5em;
	background: #949496;
	color: white;
	font-size: 13px;
	font-weight: 700;
	outline: none;
	padding: 1em;
}
button:hover {
	background: #246ffa;
}
#clear-container,
#value {
	display: inline;
}
