/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Spartan&display=swap');

/* Layout */
.container {
	padding: 40px;
	margin: 0 auto;
	margin-top: 60px;
}
.card-main {
	margin-top: 0px;
}
.card-result {
	height: 100px;
}
.amount-display {
	margin-top: 30px;
}

/* Inputs */
#amount-input {
	width: 100%;
	height: 50px;
	font-size: 25px;
}
.checkbox {
	width: 30px;
	height: 30px;
}

/* Texts */
body {
	font-family: 'Spartan', sans-serif;
	font-size: 12px;
	background: #ffffff;
}
footer {
	text-align: center;
	color: rgb(158, 158, 158);
}

.title {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
.result {
	font-weight: bold;
}
.rates {
	font-size: 20px;
}
.columns > h5 {
	margin-left: 6em;
}

/* Buttons */
#calculate {
	height: 50px;
	margin-bottom: 2em;
}
.clipboard {
	margin-left: 5em;
	margin-top: 20px;
	height: 45px;
}
.button-primary {
	font-size: 1em;
	border: none;
}

/* Misc */
.popover {
	background-color: rgb(221, 221, 221);
	font-weight: bold;
	font-size: 15px;
	padding: 15px;
	border-radius: 5px;
}
hr {
	border-top: 2px dashed rgb(177, 177, 177);
}

/* Modals & Loaders */
.modal,
.loader {
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.modal-content,
.loader-container {
	background-color: #f0f0f0;
	max-width: 450px;
	max-height: 500px;
	padding: 2em;
	border-radius: 10px;
	margin: 250px auto;
	text-align: center;
	user-select: none;
	overflow: auto;
}
.modal-text {
	text-align: left;
}

/* Loader elements */
.loader-text {
	margin-left: 20px;
	margin-top: 30px;
}
.circle-container {
	display: flex;
	justify-content: center;
	height: 50px;
	padding-top: 20px;
}
.circle {
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #3498db;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 300ms linear infinite;
	animation: spin 300ms linear infinite;
}

/* Animation */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Mobile */
@media (max-width: 1000px) {
	.columns > h5 {
		margin-left: 0.5em;
	}
	.clipboard {
		margin-left: 1em;
	}
}
@media (max-width: 700px) {
	.clipboard {
		margin-left: 0.5em;
		margin-top: 0px;
	}
	.columns > h5 {
		font-size: 20px;
		margin-left: 0em;
	}
	#calculate {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
@media (max-width: 600px) {
	#amount-input {
		width: 100%;
	}

	#calculate {
		width: 100%;
	}
	hr {
		margin-top: 50px;
	}
}
